NET "clk"      LOC = "C9"  | IOSTANDARD = LVCMOS33;
NET "clk"      TNM_NET = "clk_grp";
TIMESPEC "TS_clk" = PERIOD "clk_grp" 20 ns HIGH 50 %;
 
NET "reset_n"  LOC = "B8"  | IOSTANDARD = LVCMOS33 | PULLUP;
 
NET "spi_mosi" LOC = "T4"  | IOSTANDARD = LVCMOS33;
NET "dac_cs"   LOC = "N8"  | IOSTANDARD = LVCMOS33;
NET "spi_sck"  LOC = "U16" | IOSTANDARD = LVCMOS33;
NET "dac_clr"  LOC = "P8"  | IOSTANDARD = LVCMOS33;
